html {
  height: 100%;
}

body {
  /*background-color: var(--color-theme-background);
  color: var(--color-theme-text);*/
}

body,
.bw-app-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 0;
  min-height: 100%;
}

.bw-app {
  display: flex;
  flex: 1 0 0%;
  flex-direction: column;
}

.bw-app__header {
  flex: 0 0 auto;
  padding: var(--spacing-grid-size--x3) var(--spacing-grid-size--x6);
  border-bottom: 0.0625rem solid var(--color-context-border);
  background-color: var(--color-theme-background);
}

.bw-app__body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: calc(var(--spacing-grid-size) * 12) var(--spacing-grid-size--x6);
}
