<!DOCTYPE html>
<html class="ax-theme--light">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Eslint Wizard | Brandwatch Labs</title>
    <link href="/assets/favicon.ico" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <% if (htmlWebpackPlugin.options.stylesheet) { %>
      <link href="/<%= htmlWebpackPlugin.options.stylesheet %>" rel="stylesheet">
    <% } %>
  </head>
  <body>
    <div class="bw-app-container" id="root"><% if (htmlWebpackPlugin.options.html) { %><%= htmlWebpackPlugin.options.html %><% } %></div>
    <% if (htmlWebpackPlugin.options.script) { %>
      <script src="/<%= htmlWebpackPlugin.options.script %>" type="application/javascript"></script>
    <% } %>
  </body>
</html>
